<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <setting Name="CatalogPath" Type="String">C:\Users\Dawid\OneDrive\studia\Programowanie obiektowe 2\Turniej\Files\</setting>
  <setting Name="CharsListTxtNeeded" Type="String">True</setting>
  <setting Name="DocxFileNeeded" Type="String">True</setting>
  <setting Name="GroupsListTxtNeeded" Type="String">True</setting>
  <setting Name="XlsxFileNeeded" Type="String">True</setting>
</settings>